* { 
    font-family: "Lucida Console", "Courier New", monospace;
    }


.block1{

  border: 2px solid black;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
  } 

  .container {
     display: flex; 
     flex-direction: column;
}
  
 
  .container div {
   background: rgb(197, 98, 26);
   border: 2px solid black;
    height: 100px;
     flex: 1; 
  }

